@reference "@/index.css";

.rich-text-field {
  @apply focus:outline-none p-4 min-h-[400px] font-normal text-gray-800;

  & h1 {
    @apply mt-8 mb-6 text-4xl font-bold;
  }

  & h2 {
    @apply mt-6 mb-4 text-3xl font-bold;
  }

  & h3 {
    @apply mt-0 mb-2 text-2xl font-bold;
  }

  & h4 {
    @apply mt-0 mb-2 text-xl font-bold;
  }

  & h5 {
    @apply mt-0 mb-2 text-lg font-bold;
  }

  & h6 {
    @apply mt-0 mb-2 text-base font-bold;
  }

  & p {
    @apply mb-3;
  }

  & blockquote {
    @apply border-l-2 border-gray-200 border-solid border-0 mx-0 px-4 text-gray-500;
  }

  & a {
    @apply underline;
  }

  & .rich-text-image {
    @apply bg-secondary rounded-md max-w-full cursor-grab h-12 w-12 active:cursor-grabbing;
    &.ProseMirror-selectednode {
      @apply ring-1 ring-primary;
    }
  }
}
.richt-text-button {
  @apply bg-transparent hover:bg-secondary border-none h-full flex items-center justify-center cursor-pointer min-w-[32px];
}